<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="/css/login.css">

</head>
<body>
<body>
    <section class="container">
        <div class="login-container">
            <div class="circle circle-one"></div>
            <div class="form-container">
                <h1 class="opacity">REGISTER</h1>
                <form action="/register" method="post">
                    <input type="text" placeholder="USERNAME" id="username" name="name"/>
                    <input type="email" placeholder="EMAIL" id="emailid" name="email"/>
                    <input type="password" placeholder="NEW PASSWORD" id="password" name="password"/>
                    <button class="opacity" type="submit">SUBMIT</button>
                </form>
                <div class="register-forget opacity">
                    <p>Already have Account ?</p><a href="/login">LOGIN</a>
                    <!-- <a href="">FORGOT PASSWORD</a> -->
                </div>
            </div>
            <div class="circle circle-two"></div>
        </div>
        <div class="theme-btn-container"></div>
    </section>
</body>
  <script  src="/js/login.js"></script>

</body>
</html>
